<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}App Bilionários{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}">
    {% block styles %}{% endblock %}
</head>
<body>
    {% include 'navbar/navbar.html' %}
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
